:root{
    /* font size */
    --fs-14:14px;
    --fs-15:15px;
    --fs-16:16px;
    --fs-17:17px;
    --fs-18:18px;
    --fs-24:24px;
    --fs-30:30px;
    --fs-36:36px;
    --fs-58:58px;
    --fs-64:64px;
    /* font waight */
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    /* color */
    --text-black:#232323;
    --text-light-black:#303030;
    --text-white:#fff;
    --text-blue:#373737;
    --text-dark-pink:#9E3040;
    --text-gray:#686868;
    /* background-color */
    --bg-black:#232323;
    --bg-light-black:#303030;
    --bg-white:#fff;
    --bg-dark-pink:#9E3040;
    --bg-skin:#f7f7f7;
    --bg-wheat:#F3F5F6;
}
.bg-dark-pink{
    background-color: var(--bg-dark-pink);
}
.bg-skin{
    background-color: var(--bg-skin);
}
.bg-white{
    background-color: var(--bg-white);
}
.bg-wheat{
    background-color:var(--bg-wheat) ;
}
.f-white{
    color: var(--text-white);
}
.f-black{
    color: var(--text-black);
}
.f-dark-pink{
    color: var(--text-dark-pink);
}
.f-gray{
    color: var(--text-gray); 
}
.f-light-black{
    color: var(--text-light-black);
}
.f-nav-btn{
    font-size: var(--fs-18);
    font-weight: var(--fw-600);
}
.f-nav-top{
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
}
.f-nav-support{
    font-size: var(--fs-18);
    font-weight: var(--fw-600);
}
.f-nav-home{
    font-size: var(--fs-18);
    font-weight: var(--fw-500);   
}
.f-nav-icon{
    font-size: var(--fs-18);
    font-weight: var(--fw-400); 
}
.f-nav-head{
    font-size: var(--fs-30);
    font-weight: var(--fw-600);
}
/* 1st section */
.f-sec-color{
    font-size:var(--fs-64);
    font-weight: var(--fw-600);
}
.f-sec-over{
    font-size: var(--fs-24);
    font-weight: var(--fw-400);
}
.f-sec-btn{
    font-size: var(--fs-18);
    font-weight: var(--fw-600);
}
/* 2nd section */
.f-free{
    font-size: var(--fs-30);
    font-weight: var(--fw-600);
}
.f-for{
    font-size: var(--fs-17);
    font-weight: var(--fw-400);
}
/* 3rd section */
.f-sec-explore{
    font-size: var(--fs-58);
    font-weight: var(--fw-600);
    color: var(--text-white);
}
.f-sec-main{
    font-size: var(--fs-36);
    font-weight: var(--fw-600);
}
.f-card-paragraph{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
}
.f-card-prize{
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
}
.f-card-less{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
}
.f-card-btn{
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
}
/* 4th section */
.sec4-heading{
    font-size: var(--fs-36);
    font-weight: var(--fw-700);
}
.sec4-paragraph{
    font-size: var(--fs-17);
    font-weight: var(--fw-400)  ;
}
/* 5th section */
.sec-5-head{
    font-size:var(--fs-24);
    font-weight: var(--fw-700);
}
/* 6th section */
.sec6-card-content{
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
}
/* 8th section */
.f-mail-paragraph{
    font-size: var(--fs-17);
    font-weight: var(--fw-400);
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}
/* header */
.f-nav-box{
    border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
max-width: 49px;
padding: 13px 13px;
}
.f-nav-btn{
    border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(158, 48, 64, 0.17);
padding: 10px 32px;
border: none;
}
.ml-97{
    margin-left: 97px;
}
.ml-20{
    margin-left: 20px;
}
.dropdown{
    position: relative;
    float: left;
}
.dropdown-content{
    display:grid;
    min-width: 100px;
    background-color: #686868;
    color: #FFF;
    padding-left: 30px;
    position: absolute; 
    top: 100%;
    left :0;
   display: none;
}
.dropdown:hover .dropdown-content{
    display: grid;
}
.dropdown:hover svg{
    transform: rotate(180deg);
}
/* 1st section */
.bg-sec-1{
    background-image: url(../image/bg-sec-1.png);
    background-repeat: no-repeat;
}
.f-sec-color{
    max-width: 444px;
}
.f-sec-btn{
padding: 10px 18px 10px 27px;
border: none;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
/* 2nd section */
.py-95{
    padding-top: 95px;
    padding-bottom: 95px;
}
.f-line{
    position: absolute;
    bottom: 47%;
    z-index: -1;
}
/* 3rd section */
.bg-sec-3{
    background-image: url(../image/bg-sec-3.png);
    background-repeat: no-repeat;
    border-radius: 5%;
}
.sec-card{
    border-radius: 10px;
    background: #F3F5F6;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.00);
    padding: 23px 14px 32px 14px;
    /* max-width: 329px; */
}
.f-card-paragraph{
    max-width: 300px;  
}
.f-card-btn{
    padding: 8px 15px;
    border: none;
     border-radius: 5px;
}
.gap-15{
    gap: 15px;
}
.pb-25{
    padding-bottom: 25px;
}
/* 4th section */
.sec4-card{
    border-radius: 30px;
    max-width: 519px;
    padding: 30px 16px;
}
.sec4-heading{
    max-width: 484px;
}
.sec4-paragraph{
    max-width: 457px;
}
.sec-image{
    border-radius: 24px;
}
.pt-12{
    padding-top: 12px;
}
.mt-90{
    margin-top: 90px;
}
/* 5th section */

.pt-100 {
    padding-top: 100px;
}
.mt-md-30 {
    margin-top: 30px;
}
.sec-5-card {
    max-width: 410px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var();
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.10);
}
.sec-5-img {
    border-radius: 10px;
}
.sec4-paragraph{
    max-width:919px;
    margin-left: auto;
    margin-right: auto;
    line-height: 190%;
}
.sec-5-head{
    max-width: 302px;
}
.pt-100{
    padding-top: 100px;
}
.pl-18{
    padding-left: 18px;
}
.pr-19{
    padding-right: 19px;
}
.pb-41{
 padding-bottom: 41px;
}
.pb-46{
    padding-bottom: 46px;
}
.pb-80{
    padding-bottom: 80px;
}
.pt-31{
    padding-top: 31px;
}
.pb-60{
    padding-bottom: 60px;
}
/* 6th section */
.sec6-card{
    border-radius: 30px;
    max-width: 1280px;
}
.f-sec-svg{
    position: absolute;
    bottom: 10px;
    right: 0;
}
.icon-set-1{
    position: absolute;
    top: 5%;
    left: 1%;
}
.icon-set-2{
    position: absolute;
    top: 65%;
    right: 1%;
}
.py-90{
    padding-top: 90px;
    padding-bottom: 90px;
}
/* sec-7 */
.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 24px;
}
.grid-img-set{
    border-radius: 10px;
    overflow: hidden;
}
.grid-set-1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.grid-set-2{
    grid-row: 1/3;
    grid-column: 2/3;
}
.grid-set-3{
    grid-row: 1/2;
    grid-column: 3/4;
}
.gri-set-4{
    grid-row: 2/3;
    grid-column: 1/2;
}
.grid-set-5{
    grid-row: 2/3;
    grid-column: 3/4;
}
/* 8th section */
.f-mail-paragraph{
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
}
.f-mail{
    padding: 13px 287px 12px 23px;
    max-width: 423px;
}


@media(max-width:1200px){
    .phoneView{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        position: fixed;
        width: 100%;
        min-height: 100vh;
        right: -100%;
        transition: all 1000ms linear;
        background-color: orange;
    }
    .phoneView.show{
        right: 0;
    }
    .gap{
        gap: 40px;
    }
    .pl-40{
        padding-left: 0;
    }
    .ml-30{
        margin-left: 0;
    }
    .pl-150{
        padding-left: 0;
    }
    .menu{
        z-index: 1;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(min-width:1012px){
    .menu{
        display: none;
    }
}


@media (min-width:1400) {
    .manual-container{
        max-width:1280px !important;
    }
}